{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succesfull</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />

    <link href="{% static 'css/main.css' %}" rel="stylesheet"/>
    {% tailwind_css %}
</head>
<body>
    {% include 'core/nav2.html' %}
    <div class="flex justify-center items-center flex-col p-6">
        <nav class="w-full px-6 py-2 flex justify-center items-center bg-[#f4f4f4] absolute top-0 left-0">
            <img src="{% static 'images/srclogo.svg' %}" alt="">
        </nav>
        <div class="mt-32 flex flex-col justify-center items-center gap-2 max-w-[500px]">
            <img src="{% static 'images/failed.svg' %}" class="drop-shadow-md">
            <p class="font-semibold text-2xl font-poppins">Registration Closed</p>
            <p class="font-poppins text-gray-600 text-center">We apologize for the inconvenience, but all available slots have been filled due to overwhelming demand.<br>Thank you for your interest, and we hope you'll join us for future events!</p>
            <p class="font-poppins text-gray-600 text-center mt-12">You can still check our other events, Hurry Now!</p>
            <a href="/" class="underline">Return home</a>
        </div>

        <!-- <p class="text-xs text-gray-500 absolute bottom-4 text-center font-poppins">You may screenshot this page for your reference</p> -->
    </div>
</body>
</html>