{% load static %}
{% load static tailwind_tags %}
<nav class="flex justify-between items-center w-full px-12 py-4 absolute top-0 left-0 z-[100]">
    <div class="flex items-center gap-2">
        <img src="{% static 'images/srclogo.svg' %}" alt="logo" class="w-14">
        <p class="font-montserrat font-bold text-white">Student Research Council</p>
    </div>
    <div class="flex gap-12">
        <a href="" class="text-white">Home</a>
        <a href="" class="text-white">Events</a>
        <a href="" class="text-white">Register</a>
    </div>
</nav>
