{% load static %}
{% load static tailwind_tags %}
<nav class="flex justify-between items-center w-full px-6 lg:px-12 py-4 absolute top-0 left-0 z-[100] bg-[#f4f4f4]">
    <a href="/">
        <div class="flex items-center gap-2">
            <img src="{% static 'images/srclogo.svg' %}" alt="logo" class="w-14">
            <p class="font-montserrat font-bold text-black max-w-[70%] lg:w-auto">Student Research Council</p>
        </div>
    </a>
    <div class="hidden lg:flex gap-12 desk-elements">
        <a href="/" class="text-black">Home</a>
        <a href="" class="text-black">Events</a>
        <a href="" class="text-black">Register</a>
    </div>
    <div class="absolute top-8 lg:hidden right-6 flex gap-2 flex-col cursor-pointer navbutton">
        <div class="h-[1px] w-9 rounded-md bg-black"></div>
        <div class="h-[1px] w-9 rounded-md bg-black"></div>
        <div class="h-[1px] w-9 rounded-md bg-black"></div>
    </div>

    <!-- Mobile div -->
     <div class="transition duration-700 w-full h-[50vh] bg-[#f4f4f4] pl-12 py-6 flex flex-col absolute top-[-50vh] left-0 mobileview">
        <div class=" relative flex justify-between items-center gap-2">
            <div>
            <img src="{% static 'images/srclogo.svg' %}" alt="logo" class="w-14">
            <p class="font-montserrat font-bold">Student Research Council</p>
            </div>
            <div class="absolute top-0 right-6 navexit cursor-pointer p-4">
                <div class="h-[1px] w-6 rounded-md bg-gray-800 rotate-45"></div>
                <div class="h-[1px] w-6 rounded-md bg-gray-800 rotate-[-45deg]"></div>
            </div>
        </div>
        <div class="flex flex-col gap-6 mt-12">
            <a href="/" class="hover:underline border-b">Home</a>
            <a href="" class="hover:underline border-b">Events</a>
            <a href="" class="hover:underline  border-b ">Register</a>
        </div>
     </div>
</nav>
<script src="{% static 'js/nav.js' %}"></script>